// 相关背景颜色
$width: 100% ;
$padding:8px 16px ;
$fontsize : 15px ;
$border-radius : 4px ;
$overflow : hidden ;
$margin:0px  0px 12px 0px ;
// 定义 alert 的文字样式, 和 effect 样式
$alert-theme-colors-light: (
        "success": #f0f9eb,
        "info": #f4f4f5,
        "warning": #fdf6ec,
        "danger": #fef0f0,
);

// 更改 alert 的样式
@mixin  t ( $bgColor , $color ){
    background-color: $bgColor ;
    color : $color ;
}
// 更改 effect 样式
@mixin  e ($bgColor) {
    background-color: $bgColor;
    .title-box,.description-box{
        color: white;
    }
}
// 关闭按钮样式
@mixin  close-wrapper ($t , $r ,$color) {
    cursor: pointer;
    user-select: none;
    color: $color ;
    position: absolute;
    right:$r ;
    top:$t ;
}
.lemon-alert {
    width: $width ;
    padding :$padding ;
    font-size: $fontsize;
    border-radius: $border-radius ;
    overflow: $overflow;
    position: relative;
    margin: $margin;
    display: block;
    user-select: none;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    @each $color, $value in $alert-theme-colors-light {
        &.type__#{$color} {
            @include t($value , map-get($theme-colors, $color));
        }
        // dark 主题
        &.effect__dark.type__#{$color} {
            @include e(map-get($theme-colors, $color));
        }
    }
    > .title-box{
        font-size: 16px;
    }
    > .description-box{
        font-size: 15px;
    }
    // 关闭按钮
    > .close-wrapper{
        @include close-wrapper(8px , 24px , #ccc)
    }
    // 居中
    &.align__center {
        text-align: center;
    }
}
