
.lemon-radio {
  display: inline-block;
  cursor: pointer;
  color:#606266;
  margin-right: 30px;
  user-select: none;
  .lemon-radio__core{
    display: inline-block;
    width:14px;
    height: 14px;
    border-radius: 50%;
    border:solid 1px #dcdfe6;
    position: relative;
    margin-top:1px;
    &:hover{
      border-color: #409eff;
    }
    &::after{
      width:5px;
      height:5px;
      border-color: white;
      border-radius: 50%;
      position: absolute;
      left:50%;
      top:50%;
      background-color: white;
      transform: translate(-50%, -50%);
      content : "" ;
      transition: opacity .3s ease-in-out;
      opacity: 0;
    }
  }
  &.active{
    color:  #409eff;
  }
  &.active .lemon-radio__core{
    background-color:#409eff;
    border-color: #409eff;
    &::after{
      opacity: 1;
    }
  }

  .lemon-radio__label{
    padding-left:10px;
    font-size:14px;
  }
}
