
.le-carousel {
  overflow: hidden;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transition: transform 1s ease-in-out;
  }
  button.btn-next,button.btn-pre:hover{
    cursor: pointer;
  }
  button.btn-next,button.btn-pre{
    position: absolute;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.4);
    top:50%;
    transform: translateY(-50%);
    outline: none;
    border:none;
    color:white;
  }
  button.btn-next{
    right:10px;
  }
  button.btn-pre{
    left:10px;
  }

  .le-carousel-item {
    width: 100%;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    height: 100%;
    border: none;
    margin: 0;

    .content{
      width:100%;
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
