


.lemon-progress__line{
  display: flex;
  align-items: center;
  font-size:14px;
  padding:3px 0px;
  .progress_line{
    width:300px;
    background-color: #ebeef5;
    margin:0px 5px;
    overflow: hidden;
    .progress_line__inner{
      width:0px;
      height:100%;
      transition: width .3s ease-in-out;
      text-align: right;
      color:white;
    }
  }
}

.progress-line.theme-light .progress_line{
  background-color: #eee;
}
@each $type,$val in $theme-colors {
  .progress-line.theme-#{$type} .progress_line .progress_line__inner{
    background-color:$val;
  }
}


.progress-circle{
  display: inline-block;
  svg{
    transform: rotate(-90deg);
  }
  circle{
    transition: stroke-dasharray .3s ease-in-out;
  }
}
